.header {
    #title {
        padding-right: 70px;
    }
    .setting {
        display: flex;
        font-size: 16px;
        
        .speed {
            margin-right: 40px;
        }
        .quantity {
            margin-right: 40px;
        }
    }
}