<mat-toolbar class="header">
  <span id="title">EzAlgorithm</span>
  <div class="setting">
    <div class="speed">
      <span>Speed  </span>
      <mat-slider min="{{speedmin}}" max="{{speedmax}}" step="1" (input)="setSpeedValue($event)"></mat-slider> {{speedVal}}
    </div>
    
    <div class="quantity">
      <span>Quantity  </span>
      <mat-slider min="1" max="70" step="1" (input)="setQuantityValue($event)"></mat-slider> {{quantityVal}}
    </div>
    <div class="add">
      <button mat-mini-fab color="accent" aria-label="Example icon button with a bookmark icon">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
