.header {
    #title {
        padding-right: 70px;
    }
    .setting {
        display: flex;
        font-size: 16px;
    
        .selector {
            mat-radio-button{
                margin-right: 15px;
                padding-top: 4px;
            }
        }
    }
}