<div class="container">
    <div class="content" id="content">
        <div class="list-of-elements">
            <div class="pointer">
                <div *ngFor="let ele of array; let i = index" class="element {{i}}" [ngStyle]="{'visibility': (i === posCompare || i === posFound) ? 'visible' : 'hidden'}">
                    <div style="margin: 4px 0 0 0">
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </div>
                </div>
            </div>
            <div class="search-visualize">
                <div *ngFor="let ele of array; let i = index" class="element {{i}}" [ngStyle]="{'border-color': (i === posCompare || i === posFound) ? searchColor : color('pink'),
                      'background-color': (i < left || i > right) ? color('pink') : 'transparent'}">
                    <div style="margin: 4px 0 0 0; font-size: 19px;">{{ele}}</div>
                </div>
            </div>
        </div>
        <br>
        <div class="setting">
            <button mat-mini-fab color="accent" (click)="runSearch()" [disabled]="isRunning">
        <mat-icon>play_arrow</mat-icon>
      </button>
            <button mat-mini-fab color="accent" (click)="createArray()" [disabled]="true">
        <mat-icon>loop</mat-icon>
      </button>
            <div class="target-input">
                <label for="">Target</label>
                <input type="text" [(ngModel)]="target" [disabled]="isRunning">
            </div>
        </div>
    </div>
</div>
