@keyframes fadedDown {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translate(0, -100px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }
}

@keyframes growUp {
  0% {
    height: 0px;
  }
}

.container {
  padding-top: 10px;
  width: 100%;
}

.content {
  width: max-content;
  margin: 3% auto auto auto;
  padding: 20px;
  border: 0px solid transparent;
  border-radius: 10px;
  background-color: #f5f5f5;
  animation: fadedDown 0.4s;
}

.list-of-elements {

  width: 700px;

  .array {
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .element {
      width: 30px;
      background-color: #ff4081;
      margin-right: 0.5%;
      border: 0px transparent;
      border-radius: 7px;
      // animation: growUp 1s infinite;
    }
  }

  .search-visualize {
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    .element {
      height: 30px;
      width: 30px;
      // background-color: ;
      margin-right: 0.5%;
      border: 1px #ff4081;
      border-radius: 7px;
    }
  }
}

.setting {
  display: flex;

  button {
    margin-right: 10px;
  }

  .delay {
    margin: 0 20px;
  }

  .quantity {
    margin-right: 20px;
  }

  .selection {
    margin: 14px 0 0 20px;
    #selection-label{
      padding-right: 5px;
    }
  }
}
