<div class="container">
  <div class="content" id="content">
    <div class="list-of-elements">
      <div class="array" id="array">
        <div *ngFor="let ele of array" class="element {{ele}}"
          [ngStyle]="{'height': ele + 'px', 'background-color': (ele === numCompare1 || ele === numCompare2) ? sortColor : color(0)}">
        </div>
      </div>
      <!-- <div class="search-visualize" *ngIf="isSearchMode">
        <div *ngFor="let ele of array" class="element {{ele}}"
          [ngStyle]="{'background-color': (ele === numCompare1 || ele === numCompare2) ? sortColor : color(0)}">
        </div>
      </div> -->
    </div>

    <br>

    <div class="setting">
      <button mat-mini-fab color="accent" (click)="choosingSort()" [disabled]="isRunning">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-mini-fab color="accent" (click)="createArray()" [disabled]="isRunning">
        <mat-icon>loop</mat-icon>
      </button>
      <div class="selection">
        <label id="selection-label" for="">Sort </label>
        <select [(ngModel)]="selectedSortId" [disabled]="isRunning">
          <option *ngFor="let sort of sortList" [value]="sort.id">{{sort.name}}</option>
        </select>
      </div>
      <div class="delay">
        <span>Delay </span>
        <mat-slider min="{{delaymin}}" max="{{delaymax}}" step="50" (input)="setDelayValue($event)"></mat-slider>
        {{delayVal}}ms
      </div>
      <div class="quantity">
        <span>Quantity </span>
        <mat-slider min="{{quantitymin}}" max="{{quantitymax}}" step="5" (input)="setQuantityValue($event)"
          [disabled]="isRunning">
        </mat-slider> {{quantityVal}}
      </div>

    </div>
  </div>
</div>
